<h1>Welcome to my devise app</h1>
<% if current_user %>
	<p>Hello, <%= current_user.full_name %>!</p>
<% else %>
	<p>
		<%= button_to "login with Facebook!", user_omniauth_authorize_path(:facebook) %>
	</p>	
<% end %>
